In [ ]:
#database insertion into Oracle
import pandas as pd
import oracledb
import json

In [ ]:

# Database connection
connection = oracledb.connect(
    user="your_username",
    password="your_password",
    dsn="localhost:1521/XE"
)

In [ ]:

cursor = connection.cursor()

In [ ]:

# Load analyzed reviews
df_reviews = pd.read_csv('data/analyzed_reviews.csv')

In [ ]:

# Insert reviews
for _, row in df_reviews.iterrows():
    themes_str = ','.join(row['themes']) if isinstance(row['themes'], list) else row['themes']
    cursor.execute("""
        INSERT INTO Reviews (review_id, bank_id, review_text, rating, review_date, source, sentiment_label, sentiment_score, themes)
        VALUES (:1, :2, :3, :4, TO_DATE(:5, 'YYYY-MM-DD'), :6, :7, :8, :9)
    """, (
        row['review_id'],
        {'CBE': 'b1', 'BOA': 'b2', 'Dashen': 'b3'}[row['bank']],
        row['review'],
        row['rating'],
        row['date'],
        row['source'],
        row['sentiment_label'],
        row['sentiment_score'],
        themes_str
    ))

In [ ]:

connection.commit()
cursor.close()
connection.close()

print(f"Inserted {len(df_reviews)} reviews into Oracle database")