In [ ]:
#database insertion into Oracle